
$primary: rgba(218, 165, 32, 0.903); 
$light: rgba(246, 235, 206, 0.93);

@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";

$custom-theme-colors: (
    "altlight" : #f2ebfa,
    "altdark" : #522192  
);

$theme-colors: map-merge($custom-theme-colors, $theme-colors);

@import '../node_modules/bootstrap/scss/bootstrap';
